<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${product.name}"></title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="container">
<h1 class="text-2xl font-bold" th:text="${product.name}"></h1>

<div class="card">
    <h3 class="form-label">Description</h3>
    <p class="form-input" th:text="${product.description}"></p>
</div>

<div class="card">
    <h3 class="form-label">Price</h3>
    <p class="form-input" th:text="'$' + ${product.price}"></p>
</div>

<div class="card">
    <h3 class="form-label">Image</h3>
    <span class="form-group" th:if="${product.imagePath != null}">
        <img class="form-input" th:src="@{${product.imagePath}}" alt="Product Image" width="300" height="300"/>
    </span>
    <span class="form-group" th:if="${product.imagePath == null}">
        <p class="form-input">No image available</p>
    </span>
</div>

<div class="card">
    <h3 class="form-label">Owner</h3>
    <p class="form-input" th:text="${product.user.username}"></p>
</div>

<a href="/dashboard" class="link btn">Back to dashboard</a>
</body>
</html>
