<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/main :: head}">
    <title>Thank You for Your Order</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:fragment="content" class="container">
    <header>
        <h1>Thank you for your order!</h1>
    </header>
    <h2>Items ordered:</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${order.orderItems}">
            <td th:text="${item.product.name}"></td>
            <td th:text="${item.quantity}"></td>
            <td th:text="${#numbers.formatCurrency(item.price)}"></td>
        </tr>
        </tbody>
    </table>
    <h3>Total Price: <span th:text="${#numbers.formatCurrency(order.totalPrice)}"></span></h3>
</div>
</body>
</html>